@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', 'Inter', 'Karla', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
#desc {
    background-color: #1CD1B0;
    width: 100%
}
header img {
    height: 75px;
    padding: 5px;
    border-radius: 50%
}
nav {
    background-color: #001D2D;
    color: #FFFFFF;
}
a:link {
    color: white   
}
a:visited {
    color: white
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li {
    padding: 10px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
    padding-top: 74px;
    text-align: center;
    text-transform: uppercase
}
h3 {
    font-size: 15px;
    padding: 10px 30px;
}
p {
    font-size: 16px
}
#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00669F;
    color: white;
    padding: 15px 30px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%
}
#add {
    height: 80px;
    width: 80px;
    padding: 10px;
    background-image: url(../img/add.png);
    border-radius: 50px;
    text-align: center;
    font-size: 200px;
    color:white;
}
#add:hover{
    background-image: url(../img/add2.png);
}
#add_form {
    background-color: #00669F;
    color: #FFFFFF;
    border-radius: 50px;
    height: 830px;
    width: 950px;
    margin: 40px 10px;
    text-align: center;
    padding: 10px;
}
#head_form h4 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: bold
}
#head_form p {
    font-size: 1.2em;
    font-weight: 300;
}
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    text-align: left;
}
.form-row{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    align-content: center;
}
.name , .species , .date {
    padding: 15px 10px;
    font-size: 20px; 
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
    height: 60px;
    background-color: #FFFFFF;
    width: 100%;
}
#description {
    font-size: 20px;
    padding: 20px 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
    height: 310px;
    background-color: #FFFFFF;
    width: 100%;
}
#file {
    font-size: 20px;
    padding: 15px 0px;
}
.form-row-item {
    width: 340px;
}
form div {
    margin:5px
}
#add_hero {
    background-color: #1CD1B0;
    height: 85px;
    width: 50%;
    color: #000000;
    border-radius: 25px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 40px;
}
input:checked {
    box-shadow: 0 0 0 3px #34CEFF;
}
#add_hero:hover {
    background-color: #001D2D;
    color: white;
}
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] + label::before {
    content: "\2714";
    border-radius: 0.5em;
    display: inline-block;
    width: 1em;
    height: 0.5em;
    border: 0.1em solid white;
    padding-left: 0.2em;
    padding-bottom: 0.8em;
    margin-top:0.4em;
    margin-right: 1em;
    vertical-align: center;
    background-color: #FFFFFF;
    color: #FFFFFF;
  }
  input[type=checkbox]:checked + label::before {
    background-color: aqua;
    border: 0.1em solid white
  }
  input[type=radio]{
      display: none;
  }
  input[type=radio] + label::before {
    content: " ";
    border-radius: 100%;
    border: 0.2em solid white;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: 0.4em;
    margin-right: 1em;
    vertical-align: bottom;
    background-color: hsl(0, 0%, 100%);
    color: black;
  }
  input[type=radio]:checked + label::before {
    background-color: aqua;
    border: 0.2em solid white;
  }
   
  
@media (max-width: 600px) {
main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center
}
#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center
}
.card {
    position: relative;
    background-color: #F3F3F3;
    width: 278px;
    margin: 15px;
    height: 600px;
    z-index: 1;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
.imgback {
    width: 278px;
    height: 179px;
    border-radius: 5% 5% 0% 0%;
}
.like {
    position: absolute;
    top: 15.68px;
    left: 21px;
}
.perfil {
    position: absolute;
    top: 132px;
    left: 89px;
    border-radius: 50%;
    width: 122px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.info {
    position: relative;
    width: 258px;
    top: 10px;
    left: 10px;
}
.card button {
    position: absolute;
    background-color: #00669F;
    color: #F3F3F3;
    font-size: 15px;
    padding: 15px;
    height: 48.5px;
    width: 140px;
    right: 69px;
    bottom: 40px;
}
footer {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #00669F;
    color: #FFF9F9;
    justify-content: space-between;
    padding: 5px;
    align-items: center
}
footer img {
    height: 20px;
}
#divtxt {
    position: relative;
    text-align: center;
    padding: 10px;
}
footer p {
    font-size: 0.5em;
}
#divimg {
    position: relative;
    padding: 10px
}
#add_form {
    background-color: #00669F;
    color: #FFFFFF;
    border-radius: 50px;
    width: 95%;
    height: 100%;
    margin: 40px 10px;
    text-align: center;
    padding: 10px;
}
.form-row{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    align-content: center;
}
}

@media (min-width: 360px) {

    footer img {
        height: 20px;
    }
    #divtxt {
        position: relative;
        text-align: center;
        padding: 10px;
    }
    #divimg {
        position: relative;
        padding: 10px
    }
    footer p {
        font-size: 1em;
    }
}
@media (min-width: 601px) {
    main {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center
    }
    #container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
    .card {
        position: relative;
        background-color: #F3F3F3;
        width: 278px;
        margin: 15px;
        height: 600px;
        z-index: 1;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    }
    .imgback {
        width: 278px;
        height: 179px;
        border-radius: 5% 5% 0% 0%;
    }
    .like {
        position: absolute;
        top: 15.68px;
        left: 21px;
    }
    .perfil {
        position: absolute;
        top: 132px;
        left: 89px;
        border-radius: 50%;
        width: 122px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .info {
        position: relative;
        width: 258px;
        top: 10px;
        left: 10px;
    }
    .card button {
        position: absolute;
        background-color: #00669F;
        color: #F3F3F3;
        font-size: 15px;
        padding: 15px;
        height: 48.5px;
        width: 140px;
        right: 69px;
        bottom: 40px;
    }
    footer {
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: #00669F;
        color: #FFF9F9;
        justify-content: space-between;
        padding: 5px;
        align-items: center
    }
    footer img {
        height: 20px;
    }
    #divtxt {
        position: relative;
        text-align: center;
        padding: 10px;

    }
    #divimg {
        position: relative;
        padding: 10px
    }
}